<h1>¡Hola!</h1>
<p>A través de la plataforma de <strong>Convocatorias de PIUNAHUR</strong>, {remitenteNombre}
    te ha invitado a participar e inscribirte al grupo de investigación.</p>


<div>
    <h3>Detalles del Grupo:</h3>
    <ul>
        <li><strong>Nombre del proyecto:</strong> {nombreDelProyecto}</li>
        <li><strong>Descripción:</strong> {descripcion}</li>
        <li><strong>Fecha de finalización:</strong> {fechaFin}</li>
    </ul>
</div>

<div>
    <h3>Información del Convocante:</h3>
    <ul>
        <li><strong>Nombre:</strong> {remitenteNombre}</li>
        <li><strong>Email de contacto:</strong> <a href="mailto:{remitenteEmail}">{remitenteEmail}</a></li>
    </ul>
</div>

<hr style="border: none; height: 1px; background: linear-gradient(to right, transparent, #2c5aa0, transparent); margin: 25px 0;">


<h4>Para participar en este grupo de investigación, puedes:</h4>
<ul>
    <li>Registrarte en la plataforma si aún no tienes cuenta</li>
    <li>Inscribirte directamente al grupo</li>
    <li>Contactar al convocante para más información</li>
</ul>

<div style="text-align: center;">
    <a href="{url}" class="button" style="color: #ffffff; text-decoration: none;">Ir a la Plataforma</a>
    <br>
</div>